@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(24, 24, 24);
  color: white;
}

.videos{
  width: 100%;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(400px, 1fr ));
  justify-content: space-between;
  padding: 30px;
}

